[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pwinput = "*"
pytest = "*"
pyyaml = "*"
shortuuid = "*"
tabulate = "*"
pytest-cov = "*"
pytest-mock = "*"
mysql-connector-python = "*"
pymysql = "*"
flask = "*"
flask-jwt-extended = "*"
flask-smorest = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.11"
